<p id="notice"><%= notice %></p>

<p>
  <strong>InspectionSchedule:</strong>
  <%= @approval.inspection_schedule.id %>
</p>

<p>
  <strong>Signature:</strong>
  <%= image_tag signature_approval_path(@approval) %>
</p>

<%= link_to 'Edit', edit_approval_path(@approval) %> |
<%= link_to 'Back', approvals_path %>
