<% breadcrumb :root %>

<div class="well well-sm">
  <h3><%= t('views.menu.infomsg') %></h3>
  <% @infomsgs.each do |infomsg| %>
    <p>
      <%= infomsg.effective_date %> :
      <%= infomsg.title %>
      (<%= link_to t('views.menu.infomsg_more'), infomsg %>)
    </p>
  <% end %>
  <p><%= link_to t('views.menu.infomsg_index'), infomsgs_path %></p>
</div>

<h2><%= t('views.menu.show.title') %></h2>

<div class="bs-callout bs-callout-danger">
    <h4><%= t('views.menu.show.daily_work') %></h4>
    <p>
      <%= link_to t('views.inspection_schedule.need_request_index'), need_request_inspection_schedules_path %>
    </p>
    <p>
      <%= link_to t('views.inspection_schedule.requested_soon_index'), requested_soon_inspection_schedules_path %>
    </p>
    <p>
      <%= link_to t('views.inspection_schedule.answered_index'), date_answered_inspection_schedules_path %>
    </p>
    <p>
      <%= link_to t('views.inspection_schedule.targets_index'), target_inspection_schedules_path %>
    </p>
    <p>
      <%= link_to t('views.inspection_schedule.done_index'), done_inspection_schedules_path %>
    </p>
</div>

<div class="bs-callout bs-callout-primary">
    <h4><%= t('views.menu.show.management_work') %></h4>
    <p>
      <%= link_to t('views.inspection_schedule.all_schedules_index'), inspection_schedules_path %>
    </p>
  <p>
    <%= link_to t('views.equipment.index'), equipment_index_path %>
  </p>
  <p>
    <%= link_to t('views.place.index'), places_path %>
  </p>
</div>


<div class="bs-callout bs-callout-warning">
  <h4><%= t('views.menu.show.maintanance_master') %></h4>
  <p>
    <%= link_to t('views.system_model.index'), system_models_path %>
  </p>
</div>

<div class="bs-callout bs-callout-default">
  <h4><%= t('views.menu.show.maintanance_sys') %></h4>
  <p>
    <%= link_to t('views.user.index'), users_path %>
  </p>
  <p>
    <%= link_to t('views.company.index'), companies_path %>
  </p>
</div>
