<%= form_for(@equipment) do |f| %>
  <% if @equipment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@equipment.errors.count, "error") %> prohibited this equipment from being saved:</h2>

      <ul>
      <% @equipment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :system_model_id %><br>
    <%= f.collection_select(:system_model_id, SystemModel.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :place_id %><br>
    <%= f.collection_select(:place_id, current_user.places, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :branch_id %><br>
    <%= render_branch_select(f) %>
  </div>
  <div class="field">
    <%= f.label :service_id %><br>
    <%= f.collection_select(:service_id, current_user.services, :id, :name) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
