<% breadcrumb :equipment_make_inspection_schedules %>
<h1><%= t('views.equipment.make_inspection_schedules') %></h1>

<%= form_tag action='make_inspection_schedules_branch_yyyymm' do %>
  <div>
    <div>
    点検年
      <%= select :when, :year, { "2015年" => "2015", "2016年" => "2016",
                                 "2017年" => "2017", "2018年" => "2018",
                                 "2019年" => "2019", "2020年" => "2020"}, :selected => "2015" %>
    </div>
    <div>
    点検月
      <%= select :when, :month,
                    { "1月" =>  "01",  "2月" =>  "02",  "3月" =>  "03",
                      "4月" =>  "04",  "5月" =>  "05",  "6月" =>  "06",
                      "7月" =>  "07",  "8月" =>  "08",  "9月" =>  "09",
                     "10月" => "10", "11月" => "11", "12月" => "12"} , :selected => "04" %>
    </div>
  </div>
  <div>
    <%= submit_tag('点検予定の生成') %>
  </div>
</div>
<% end %>
