
<h1><%= t('views.equipment.placed_equipment', place_name: @place.name) %></h1>

<%= form_tag action='change_inspection_cycle' do %>
<table>
  <thead>
    <tr>
      <th></th>
      <th><%= t('activerecord.attributes.equipment.system_model_id') %></th>
      <th><%= t('activerecord.attributes.equipment.serial_number') %></th>
      <th><%= t('activerecord.attributes.equipment.inspection_cycle_month') %></th>
      <th><%= t('activerecord.attributes.equipment.service_id') %></th>
      <th><%= t('activerecord.attributes.equipment.last_update') %></th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @equipment.each do |equipment| %>
      <tr>
        <td><%= check_box 'check', equipment.id, :id => "equipment_#{equipment.id}" %></td>
        <td><%= equipment.system_model.name %></td>
        <td><%= equipment.serial_number %></td>
        <td><%= equipment.inspection_cycle_month %></td>
        <td><%= equipment.service.name %></td>
        <td><%= equipment.updated_at %></td>
        <td><%= link_to t('views.link_to.show'), equipment %></td>
        <td><%= link_to t('views.link_to.edit'), edit_equipment_path(equipment) %></td>
        <td><%= link_to t('views.link_to.destroy'), equipment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% unless @equipment.empty? %>
  <div class="well col-md-10 col-sm-10 col-xs-10">
    <div><%= t('views.equipment.change_inspection_cycle_comment') %></div>
    <div>
      <%= number_field_tag :new_inspection_cycle_month %>
      <%= submit_tag(t('views.equipment.change_inspection_cycle')) %>
    </div>
  </div>
<% end %>


<% end %>