<% breadcrumb :equipment_show %>
<h1><%= t('views.equipment.show') %></h1>

<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('activerecord.attributes.equipment.system_model_id') %>:</strong>
  <%= @equipment.system_model.name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.equipment.serial_number') %>:</strong>
  <%= @equipment.serial_number %>
</p>

<p>
  <strong><%= t('activerecord.attributes.equipment.inspection_contract') %>:</strong>
  <%= if @equipment.inspection_contract then t('views.equipment.inspection_contract_true') else t('views.equipment.inspection_contract_false') end %>
</p>

<p>
  <strong><%= t('activerecord.attributes.equipment.inspection_cycle_month') %>:</strong>
  <%= @equipment.inspection_cycle_month %>
</p>

<p>
  <strong><%= t('activerecord.attributes.equipment.start_date') %>:</strong>
  <%= date_value(@equipment.start_date) %>
</p>

<p>
  <strong><%= t('activerecord.attributes.equipment.place_id') %>:</strong>
  <%= @equipment.place.name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.equipment.branch_id') %>:</strong>
  <%= @equipment.branch.name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.equipment.service_id') %>:</strong>
  <%= @equipment.service.name %>
</p>

<% if @next_inspection_schedule.present? %>
  <p>
    <%= link_to "直近の点検予定を確認する(#{@next_inspection_schedule.target})", inspection_schedule_path(@next_inspection_schedule) %>
  </p>
<% end %>

<%= link_to 'Edit', edit_equipment_path(@equipment) %> |
<%= link_to 'Back', equipment_index_path %>
