<% if inspection_result.present? %>
  <table>
    <thead>
      <tr>
        <th><%= t('activerecord.attributes.inspection_result.user_id') %></th>
        <th><%= t('activerecord.attributes.inspection_result.latitude') %></th>
        <th><%= t('activerecord.attributes.inspection_result.longitude') %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><%= inspection_result.user.name %></td>
        <td><%= inspection_result.latitude %></td>
        <td><%= inspection_result.longitude %></td>
        <td><%= link_to t('views.link_to.show'), inspection_result %></td>
        <td><%= link_to t('views.link_to.edit'), edit_inspection_result_path(inspection_result) %></td>
        <td><%= link_to t('views.link_to.destroy'), inspection_result, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    </tbody>
  </table>
<% end %>
