<%= form_for(@inspection_request) do |f| %>
  <% if @inspection_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inspection_request.errors.count, "error") %> prohibited this inspection_request from being saved:</h2>

      <ul>
      <% @inspection_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :service_id %><br>
    <%= f.text_field :service_id %>
  </div>
  <div class="field">
    <%= f.label :inspect_schedule_id %><br>
    <%= f.text_field :inspect_schedule_id %>
  </div>
  <div class="field">
    <%= f.label :schedule %><br>
    <%= f.date_select :schedule %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
