<h1>Listing inspection_requests</h1>

<table>
  <thead>
    <tr>
      <th>Service</th>
      <th>Inspect schedule</th>
      <th>Schedule</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inspection_requests.each do |inspection_request| %>
      <tr>
        <td><%= inspection_request.service %></td>
        <td><%= inspection_request.inspect_schedule %></td>
        <td><%= inspection_request.schedule %></td>
        <td><%= link_to 'Show', inspection_request %></td>
        <td><%= link_to 'Edit', edit_inspection_request_path(inspection_request) %></td>
        <td><%= link_to 'Destroy', inspection_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inspect request', new_inspection_request_path %>
