<%= form_for(@inspection_schedule) do |f| %>
  <% if @inspection_schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inspection_schedule.errors.count, "error") %> prohibited this inspection_schedule from being saved:</h2>

      <ul>
      <% @inspection_schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :target_yearmonth %><br>
    <%= f.text_field :target_yearmonth %>
  </div>
  <div class="field">
    <%= f.label :equipment_id %><br>
    <%= f.collection_select(:equipment_id, Equipment.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :status_id %><br>
    <%= f.collection_select(:status_id, Status.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :service_id %><br>
    <%= render_service_select(f) %>
  </div>
  <div class="field">
    <%= f.label :result_status_id %><br>
    <%= f.collection_select(:result_status_id, ResultStatus.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :processingdate %><br>
    <%= f.date_select :processingdate %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
