<h2><%= t('views.inspection_schedule.schedules_by_place', place_name: @inspection_schedule.place.name) %></h2>
<table>
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.inspection_schedule.target_yearmonth') %></th>
      <th><%= t('activerecord.attributes.inspection_schedule.equipment_id') %></th>
      <th><%= t('activerecord.attributes.equipment.place_id') %></th>
      <th><%= t('activerecord.attributes.inspection_schedule.service_id') %></th>
      <th><%= t('activerecord.attributes.inspection_schedule.schedule_status_id') %></th>
      <th><%= t('activerecord.attributes.inspection_schedule.processingdate') %></th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @same_place_inspection_schedules.each do |inspection_schedule| %>
      <tr>
        <td><%= inspection_schedule.target_yearmonth %></td>
        <td><%= inspection_schedule.equipment.serial_number %></td>
        <td><%= inspection_schedule.place.name %></td>
        <td><%= inspection_schedule.service.name %></td>
        <td><%= inspection_schedule.schedule_status.name %></td>
        <td><%= inspection_schedule.processingdate %></td>
        <td>
          <% if inspection_schedule.can_inspection? %>
            <%= link_to  do_inspection_path(inspection_schedule) do %>
              <i class="fa fa-pencil fa-fw"></i>
              <%= t('views.inspection_schedule.do_inspecrion') %>
            <% end %>
          <% end %>
        </td>
        <td>
          <%= link_to inspection_schedule do %>
            <i class="fa fa-newspaper-o fa-fw"></i>
            <%= t('views.link_to.show') %>
          <% end %>
        </td>
        <td>
          <%= link_to_if(inspection_schedule.doing?, t('views.inspection_schedule.done_inspection'), done_inspection_path(inspection_schedule) ){} %>
        </td>
        <td>
          <%= link_to edit_inspection_schedule_path(inspection_schedule) do %>
            <i class="fa fa-refresh fa-fw"></i>
            <%=  t('views.link_to.edit') %>
          <% end %>
        </td>
        <td>
          <%= link_to inspection_schedule, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="fa fa-trash-o fa-fw"></i>
            <%= t('views.link_to.destroy') %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
