<h2><%= t('views.inspection_schedule.schedules_by_place') %></h2>
<table>
  <thead>
    <tr>
      <%= content_tag :th, t('views.inspection_schedule.yes_branch_staff') if show_yes_branch_staff? %>
      <%= content_tag :th, t('activerecord.attributes.inspection_schedule.target_yearmonth') %>
      <%= content_tag :th, t('activerecord.attributes.equipment.system_model_id') %>
      <%= content_tag :th, t('activerecord.attributes.equipment.serial_number') %>
      <%= content_tag :th, t('activerecord.attributes.inspection_schedule.service_id') %>
      <%= content_tag :th, t('activerecord.attributes.inspection_schedule.schedule_status_id') %>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @same_place_inspection_schedules.each do |inspection_schedule| %>
      <tr>
        <%= content_tag :td, yes_branch_staff_mark(inspection_schedule) if show_yes_branch_staff? %>
        <%= content_tag :td, l(inspection_schedule.target_yearmonth, format: :target_yearmonth) %>
        <%= content_tag :td, inspection_schedule.equipment.system_model.name %>
        <%= content_tag :td, inspection_schedule.equipment.serial_number %>
        <%= content_tag :td, inspection_schedule.service.name %>
        <%= content_tag :td, inspection_schedule.status.name %>
        <td>
          <%= link_to inspection_schedule do %>
            <i class="fa fa-newspaper-o fa-fw"></i>
            <%= t('views.link_to.show') %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
