<p>
  <strong><%= t('activerecord.attributes.inspection_schedule.confirm_datetime') %>:</strong>
  <%= l(inspection_schedule.confirm_datetime, format: :confirm_long) %>
</p>

<p>
  <strong><%= t('activerecord.attributes.inspection_schedule.confirm_datetime_memo') %>:</strong>
  <%= inspection_schedule.confirm_datetime_memo %>
</p>

<p>
  <strong><%= t('activerecord.attributes.inspection_schedule.author') %>:</strong>
  <%= inspection_schedule.author %>
</p>

<p>
  <strong><%= t('activerecord.attributes.inspection_schedule.customer') %>:</strong>
  <%= inspection_schedule.customer %>
</p>
