<p>
  <strong><%= t('activerecord.attributes.inspection_schedule.target_yearmonth') %>:</strong>
  <%= inspection_schedule.target_yearmonth %>
</p>

<p>
  <strong><%= t('activerecord.attributes.inspection_schedule.equipment_id') %>:</strong>
  <%= inspection_schedule.equipment.name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.inspection_schedule.service_id') %>:</strong>
  <%= inspection_schedule.service.name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.inspection_schedule.result_status_id') %>:</strong>
  <%= inspection_schedule.result_status.name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.inspection_schedule.processingdate') %>:</strong>
  <%= inspection_schedule.processingdate %>
</p>
