<%= show_system_model(@inspection_schedule.equipment) %>
<%= show_serial_number(@inspection_schedule.equipment) %>
<%= show_place(@inspection_schedule.equipment) %>

<%= render('show_target_yearmonth', inspection_schedule:  @inspection_schedule) %>

<%= render('show_service', inspection_schedule:  @inspection_schedule) %>

<p>
  <strong><%= t('activerecord.attributes.inspection_schedule.schedule_status_id') %>:</strong>
  <%= inspection_schedule.schedule_status.name %>
</p>

<%= render('show_candidates', inspection_schedule:  @inspection_schedule) %>

<%= render('show_confirms', inspection_schedule:  @inspection_schedule) %>

<%= render('show_yes_branch_staff', inspection_schedule:  @inspection_schedule) %>
