<% breadcrumb :inspection_schedule_index %>
<h1><%= render_index_title %></h1>

<%= render 'search' %>

<table>
  <thead>
    <tr>
      <%= content_tag :th, t('views.inspection_schedule.yes_branch_staff') if show_yes_branch_staff? %>
      <%= content_tag :th, t('activerecord.attributes.inspection_schedule.target_yearmonth') if show_target_yearmonth? %>
      <%= content_tag :th, t('activerecord.attributes.inspection_schedule.confirm_datetime') if show_confirm_datetime? %>
      <%= content_tag :th, t('activerecord.attributes.equipment.system_model_id') if show_system_model? %>
      <%= content_tag :th, t('activerecord.attributes.equipment.serial_number') if show_serial_number? %>
      <%= content_tag :th, t('activerecord.attributes.equipment.place_id') if show_place? %>
      <%= content_tag :th, t('activerecord.attributes.inspection_schedule.service_id') if show_service? %>
      <% if show_candidate_datetime? %>
        <%= content_tag :th, t('activerecord.attributes.inspection_schedule.candidate_datetime1') %>
        <%= content_tag :th, t('activerecord.attributes.inspection_schedule.candidate_datetime2') %>
        <%= content_tag :th, t('activerecord.attributes.inspection_schedule.candidate_datetime3') %>
      <% end %>
      <%= content_tag :th, t('activerecord.attributes.inspection_schedule.author') if show_author? %>
      <%= content_tag :th, t('activerecord.attributes.inspection_schedule.customer') if show_customer? %>
      <%= content_tag :th, t('activerecord.attributes.inspection_schedule.schedule_status_id') if show_schedule_status? %>
      <%= content_tag :th if show_action? %>
      <th></th>
      <th></th>
      <%= content_tag :th if show_edit? %>
    </tr>
  </thead>

  <tbody>
    <% @inspection_schedules.each do |inspection_schedule| %>
      <tr>
        <%= content_tag :td, yes_branch_staff_mark(inspection_schedule) if show_yes_branch_staff? %>
        <%= content_tag :td, l(inspection_schedule.target_yearmonth, format: :target_yearmonth) if show_target_yearmonth? %>
        <%= content_tag :td, l(inspection_schedule.confirm_datetime, format: :confirm) if show_confirm_datetime? %>
        <%= content_tag :td, inspection_schedule.equipment.system_model.name if show_system_model? %>
        <%= content_tag :td, inspection_schedule.equipment.serial_number if show_serial_number? %>
        <%= content_tag :td, inspection_schedule.equipment.place.name if show_place? %>
        <%= content_tag :td, inspection_schedule.service.name if show_service? %>
        <% if show_candidate_datetime? %>
          <%= content_tag :td, l(inspection_schedule.candidate_datetime1, format: :candidate) %>
          <%= content_tag :td, l(inspection_schedule.candidate_datetime2, format: :candidate) %>
          <%= content_tag :td, l(inspection_schedule.candidate_datetime3, format: :candidate) %>
        <% end %>
        <%= content_tag :td, inspection_schedule.author if show_author? %>
        <%= content_tag :td, inspection_schedule.customer if show_customer? %>
        <%= content_tag :td, inspection_schedule.status.name if show_schedule_status? %>
        <%= content_tag :td, action_link(inspection_schedule) if show_action? %>
        <%= content_tag :td, fa_newspaper_link_to( t('views.link_to.show'), inspection_schedule_path(inspection_schedule)) %>
        <%= content_tag :td, correct_link(inspection_schedule) %>
        <%= content_tag :td, fa_refresh_link_to( t('views.link_to.edit'), edit_inspection_schedule_path(inspection_schedule) ) if show_edit? %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate(@inspection_schedules) %>
<br>

<%= link_to t('views.link_to.new'), new_inspection_schedule_path %>
