<h1>Listing results</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @result_statuses.each do |result_status| %>
      <tr>
        <td><%= result_status.name %></td>
        <td><%= link_to 'Show', result_status %></td>
        <td><%= link_to 'Edit', edit_result_status_path(result_status) %></td>
        <td><%= link_to 'Destroy', result_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Result', new_result_status_path %>
