<div class="well">
  <%= search_form_for @search, class: 'form-inline' do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name_cont, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :address %>
      <%= f.text_field :address_cont, class: 'form-control' %>
    </div>

    <%= f.submit t('helpers.submit.search'), class: 'btn btn-default' %>
  <% end %>
</div>
